<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shortnr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="main col-md-12">
                <header class="text-center">
                    <h1>
                        Shortnr &hookleftarrow;<br>
                        <small>URLs, but shorter.</small>
                    </h1>
                </header>

                <form class="col-sm-12 col-md-8 col-lg-6" method="POST" action="{{ url_for('create_short_url') }}">
                    {{ form.csrf_token }}
                    {% if form.url.errors %}
                    <ul class="errors">
                        {% for error in form.url.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-label-group input-group">
                        {{ form.url(class='form-control', placeholder='url') }}
                        {{ form.url.label }}
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-lg" id="button-submit" type="submit" value="Go">
                                Shorten
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</body>

</html>